<!--[if lt IE 9]>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- <![endif]-->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/bower_components/jquery-validation/src/localization/messages_ru.js"></script>
<script src="/bower_components/covervid/covervid.min.js"></script>
<script src="/bower_components/skrollr/dist/skrollr.min.js"></script>
<script src="/bower_components/wow/dist/wow.min.js"></script>
<script src="/bower_components/jquery-countTo/jquery.countTo.js"></script>
<script src="/lib/OwlCarousel2/dist/owl.carousel.min.js"></script>
<script src="/lib/patternizer/jquery.patternizer.js"></script>
<script src="/lib/pico.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>